@page "{id:int}"
@model VideoGameManager.Pages.Games.DeleteModel
@{
    ViewData["Title"] = "Delete Page";
}

<div class="container mt-4">
    <h1 class="text-center mb-5">@Model.GameDelete.Title</h1>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-4">
                    <label class="fw-bold fs-4">Genre:</label>
                    <p class="fs-3">@Model.GameDelete.Genre</p>
                </div>
            
                <div class="mb-4">
                    <label class="fw-bold fs-4">Score:</label>
                    <p class="fs-3 text-primary">@Model.GameDelete.Score / 10</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-4">
                    <label class="fw-bold fs-4">Year:</label>
                    <p class="fs-3">@Model.GameDelete.Year</p>
                </div>

                <div class="mb-4">
                <label class="fw-bold fs-4">Description:</label>
                    <p class="fs-5">@Model.GameDelete.Description</p>
                </div>
            </div>
        </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ShowAlert">
       Delete
    </button>

    <div class="modal" id="ShowAlert" aria-labelledby="ShowAlert" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Alert</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the game?</p>
                </div>
                <div class="modal-footer">
                    <form method="post" asp-page-handler="Delete" asp-route-id="@Model.GameDelete.Id">
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                    </form>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
