@page
@model VideoGameManager.Pages.Games.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="col-xxl text-center">List of Games</h1>

    <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Score</th>
                <th>Description</th>
                <th>Developer</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
         <tbody>
            @foreach (var game in Model.Games)
            {
                <tr>
                    <td>@game.Id</td>
                    <td>@game.Title</td>
                    <td>@game.Genre</td>
                    <td>@game.Year</td>
                    <td>@game.Score</td>
                    <td>@game.Description</td>
                    <td>@game.Developer.Name</td>
                    <td><a class="btn btn-info" asp-page="./Details" asp-route-id="@game.Id">Detalles</a></td>
                    <td><a class="btn btn-light" asp-page="./Edit" asp-route-id="@game.Id">Edit</a></td>
                    <td><a class="btn btn-danger" asp-page="./Delete" asp-route-id="@game.Id">Eliminar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
